.idea
generate_batch.cpython-35.pyc
legal_instrument/__pycache__
system_path.py
legal_instrument/tsne.png

legal_instrument/dump_data/dump_valid_y_label.txt
legal_instrument/dump_data/dump_valid_x.txt
legal_instrument/dump_data/dump_train_y_label.txt
legal_instrument/dump_data/dump_train_x.txt
legal_instrument/nn_model/base_line-99000.meta
legal_instrument/nn_model/base_line-99000.index
legal_instrument/nn_model/base_line-98000.data-00000-of-00001
legal_instrument/nn_logs/events.out.tfevents.1526534978.SILVERPC
legal_instrument/nn_model/base_line-99000.data-00000-of-00001
legal_instrument/nn_model/base_line-98000.meta
legal_instrument/nn_model/checkpoint
legal_instrument/nn_model/base_line-98000.index
legal_instrument/dump_data/xgboost/dump_valid_y_label.txt
legal_instrument/dump_data/xgboost/dump_valid_x.txt
legal_instrument/dump_data/xgboost/dump_train_y_label.txt
legal_instrument/dump_data/xgboost/dump_train_x.txt
legal_instrument/xgboost_model/1.model
legal_instrument/dump_data/nn/dump_valid_y_label.txt
legal_instrument/dump_data/nn/dump_valid_x.txt
legal_instrument/dump_data/nn/dump_train_y_label.txt
legal_instrument/dump_data/nn/dump_train_x.txt
legal_instrument/word2vec/tsne.png
legal_instrument/data_util/__pycache__/generate_batch.cpython-36.pyc
legal_instrument/accusation_predict/dump_data/nn/dump_valid_x.txt
legal_instrument/accusation_predict/dump_data/nn/dump_train_y_label.txt
legal_instrument/accusation_predict/dump_data/nn/dump_train_x.txt
legal_instrument/accusation_predict/dump_data/nn/dump_valid_y_label.txt
legal_instrument/accusation_predict/nn_model/checkpoint
legal_instrument/accusation_predict/nn_model/base_line-99000.meta
legal_instrument/accusation_predict/nn_model/base_line-99000.index
legal_instrument/accusation_predict/nn_model/base_line-99000.data-00000-of-00001
legal_instrument/accusation_predict/nn_model/base_line-98000.meta
legal_instrument/accusation_predict/nn_model/base_line-98000.index
legal_instrument/accusation_predict/nn_model/base_line-98000.data-00000-of-00001
legal_instrument/accusation_predict/nn_logs/events.out.tfevents.1527219101.SILVERPC
legal_instrument/accusation_predict/nn_logs/events.out.tfevents.1527217914.SILVERPC
legal_instrument/accusation_predict/xkf_nn_model/checkpoint
legal_instrument/accusation_predict/xkf_nn_model/base_line-99000.meta
legal_instrument/accusation_predict/xkf_nn_model/base_line-99000.index
legal_instrument/accusation_predict/xkf_nn_model/base_line-99000.data-00000-of-00001
legal_instrument/accusation_predict/__pycache__/__init__.cpython-35.pyc
legal_instrument/accusation_predict/__pycache__/xkf_nn_model.cpython-35.pyc
legal_instrument/predictor/__pycache__/__init__.cpython-35.pyc
legal_instrument/predictor/__pycache__/predictor.cpython-35.pyc
legal_instrument/predictor/model_class/__pycache__/__init__.cpython-35.pyc
legal_instrument/predictor/model_class/__pycache__/accusation_nn_model.cpython-35.pyc
legal_instrument/predictor/model_class/__pycache__/accusation_nn_model.cpython-36.pyc
legal_instrument/predictor/model_class/__pycache__/__init__.cpython-36.pyc
legal_instrument/predictor/__pycache__/predictor.cpython-36.pyc
legal_instrument/predictor/__pycache__/__init__.cpython-36.pyc
legal_instrument/imprisonment_predict/dump_data/nn/dump_valid_y_label.txt
legal_instrument/imprisonment_predict/dump_data/nn/dump_valid_x.txt
legal_instrument/imprisonment_predict/dump_data/nn/dump_train_y_label.txt
legal_instrument/imprisonment_predict/dump_data/nn/dump_train_x.txt
legal_instrument/article_predict/xkf_nn_model/nn-99000.meta
legal_instrument/article_predict/xkf_nn_model/nn-99000.index
legal_instrument/article_predict/xkf_nn_model/nn-99000.data-00000-of-00001
legal_instrument/article_predict/xkf_nn_model/checkpoint
legal_instrument/article_predict/dump_data/nn/dump_valid_y_label.txt
legal_instrument/article_predict/dump_data/nn/dump_valid_x.txt
legal_instrument/article_predict/dump_data/nn/dump_train_y_label.txt
legal_instrument/article_predict/dump_data/nn/dump_train_x.txt
legal_instrument/predictor/model_class/__pycache__/imprisonment_nn_model.cpython-36.pyc
legal_instrument/predictor/model_class/__pycache__/article_nn_model.cpython-36.pyc
legal_instrument/imprisonment_predict/xkf_nn_model/nn-99000.meta
legal_instrument/imprisonment_predict/xkf_nn_model/nn-99000.index
legal_instrument/imprisonment_predict/xkf_nn_model/nn-99000.data-00000-of-00001
legal_instrument/imprisonment_predict/xkf_nn_model/checkpoint
legal_instrument/imprisonment_predict/dump_data/nn/dump_test_y_label.txt
legal_instrument/imprisonment_predict/dump_data/nn/dump_test_x.txt
legal_instrument/article_predict/dump_data/nn/dump_test_y_label.txt
legal_instrument/article_predict/dump_data/nn/dump_test_x.txt
legal_instrument/accusation_predict/xkf_nn_model/nn-99000.meta
legal_instrument/accusation_predict/xkf_nn_model/nn-99000.index
legal_instrument/imprisonment_predict/xkf_nn_logs/events.out.tfevents.1527650666.SILVERPC
legal_instrument/accusation_predict/xkf_nn_model/nn-99000.data-00000-of-00001
legal_instrument/accusation_predict/dump_data/nn/dump_test_y_label.txt
legal_instrument/accusation_predict/dump_data/nn/dump_test_x.txt
legal_instrument/accusation_predict/dump_data/cnn/dump_valid_y_label.txt
legal_instrument/accusation_predict/dump_data/cnn/dump_valid_x.txt
legal_instrument/accusation_predict/dump_data/cnn/dump_train_y_label.txt
legal_instrument/accusation_predict/dump_data/cnn/dump_train_x.txt
legal_instrument/accusation_predict/dump_data/cnn/dump_test_y_label.txt
legal_instrument/accusation_predict/dump_data/cnn/dump_test_x.txt
legal_instrument/imprisonment_predict/xkf_text_cnn_model/cnn-300.meta
legal_instrument/imprisonment_predict/xkf_text_cnn_model/cnn-300.index
legal_instrument/imprisonment_predict/xkf_text_cnn_model/cnn-300.data-00000-of-00001
legal_instrument/imprisonment_predict/xkf_text_cnn_model/checkpoint
legal_instrument/imprisonment_predict/xkf_text_cnn_logs/events.out.tfevents.1528953604.SILVERPC
legal_instrument/article_predict/xkf_text_cnn_model/cnn-300.index
legal_instrument/article_predict/xkf_text_cnn_model/cnn-300.data-00000-of-00001
legal_instrument/article_predict/xkf_text_cnn_model/checkpoint
legal_instrument/article_predict/xkf_text_cnn_logs/events.out.tfevents.1528952904.SILVERPC
legal_instrument/article_predict/xkf_nn_logs/events.out.tfevents.1528952519.SILVERPC
legal_instrument/article_predict/dump_data/cnn/dump_valid_y_label.txt
legal_instrument/article_predict/dump_data/cnn/dump_valid_x.txt
legal_instrument/article_predict/dump_data/cnn/dump_train_y_label.txt
legal_instrument/article_predict/dump_data/cnn/dump_train_x.txt
legal_instrument/article_predict/dump_data/cnn/dump_test_y_label.txt
legal_instrument/article_predict/dump_data/cnn/dump_test_x.txt
legal_instrument/accusation_predict/xkf_text_cnn_model/cnn-300.meta
legal_instrument/accusation_predict/xkf_text_cnn_model/cnn-300.index
legal_instrument/accusation_predict/xkf_text_cnn_model/cnn-300.data-00000-of-00001
legal_instrument/imprisonment_predict/dump_data/cnn/dump_valid_y_label.txt
legal_instrument/imprisonment_predict/dump_data/cnn/dump_valid_x.txt
legal_instrument/imprisonment_predict/dump_data/cnn/dump_train_y_label.txt
legal_instrument/imprisonment_predict/dump_data/cnn/dump_train_x.txt
legal_instrument/imprisonment_predict/dump_data/cnn/dump_test_y_label.txt
legal_instrument/imprisonment_predict/dump_data/cnn/dump_test_x.txt
legal_instrument/data_util/__pycache__/generate_batch_temp.cpython-36.pyc
legal_instrument/article_predict/xkf_text_cnn_model/cnn-300.meta
legal_instrument/accusation_predict/xkf_text_cnn_model/checkpoint
legal_instrument/accusation_predict/xkf_text_cnn_logs/events.out.tfevents.1528952090.SILVERPC
legal_instrument/predictor/cnn_model_class/__pycache__/imprisonment_cnn_model.cpython-36.pyc
legal_instrument/predictor/cnn_model_class/__pycache__/article_cnn_model.cpython-36.pyc
legal_instrument/predictor/cnn_model_class/__pycache__/accu_cnn_model.cpython-36.pyc
legal_instrument/predictor/cnn_model_class/__pycache__/__init__.cpython-36.pyc
