.idea
generate_batch.cpython-35.pyc
legal_instrument/__pycache__
system_path.py
legal_instrument/tsne.png

legal_instrument/dump_data/dump_valid_y_label.txt
legal_instrument/dump_data/dump_valid_x.txt
legal_instrument/dump_data/dump_train_y_label.txt
legal_instrument/dump_data/dump_train_x.txt
legal_instrument/nn_model/base_line-99000.meta
legal_instrument/nn_model/base_line-99000.index
legal_instrument/nn_model/base_line-98000.data-00000-of-00001
legal_instrument/nn_logs/events.out.tfevents.1526534978.SILVERPC
legal_instrument/nn_model/base_line-99000.data-00000-of-00001
legal_instrument/nn_model/base_line-98000.meta
legal_instrument/nn_model/checkpoint
legal_instrument/nn_model/base_line-98000.index
legal_instrument/dump_data/xgboost/dump_valid_y_label.txt
legal_instrument/dump_data/xgboost/dump_valid_x.txt
legal_instrument/dump_data/xgboost/dump_train_y_label.txt
legal_instrument/dump_data/xgboost/dump_train_x.txt
legal_instrument/xgboost_model/1.model
legal_instrument/dump_data/nn/dump_valid_y_label.txt
legal_instrument/dump_data/nn/dump_valid_x.txt
legal_instrument/dump_data/nn/dump_train_y_label.txt
legal_instrument/dump_data/nn/dump_train_x.txt
legal_instrument/word2vec/tsne.png
legal_instrument/data_util/__pycache__/generate_batch.cpython-36.pyc
legal_instrument/accusation_predict/dump_data/nn/dump_valid_x.txt
legal_instrument/accusation_predict/dump_data/nn/dump_train_y_label.txt
legal_instrument/accusation_predict/dump_data/nn/dump_train_x.txt
legal_instrument/accusation_predict/dump_data/nn/dump_valid_y_label.txt
legal_instrument/accusation_predict/nn_model/checkpoint
legal_instrument/accusation_predict/nn_model/base_line-99000.meta
legal_instrument/accusation_predict/nn_model/base_line-99000.index
legal_instrument/accusation_predict/nn_model/base_line-99000.data-00000-of-00001
legal_instrument/accusation_predict/nn_model/base_line-98000.meta
legal_instrument/accusation_predict/nn_model/base_line-98000.index
legal_instrument/accusation_predict/nn_model/base_line-98000.data-00000-of-00001
legal_instrument/accusation_predict/nn_logs/events.out.tfevents.1527219101.SILVERPC
legal_instrument/accusation_predict/nn_logs/events.out.tfevents.1527217914.SILVERPC
legal_instrument/accusation_predict/xkf_nn_model/checkpoint
legal_instrument/accusation_predict/xkf_nn_model/base_line-99000.meta
legal_instrument/accusation_predict/xkf_nn_model/base_line-99000.index
legal_instrument/accusation_predict/xkf_nn_model/base_line-99000.data-00000-of-00001
